@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
     main{
        display: flex;
        flex-direction: column;
        gap: 80px;
        margin: 0 auto;
        max-width: 1500px;
        height: 100%;
    }
}