.rec{
    h4{
        padding-left: 40px;
        color: var(--grayscale-grayscale-10, #F9F9F9);
        font-size: 24px;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        letter-spacing: 0.12px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
}