
.register-right{
    background-color: #1A161F;
    height: 100vh;
    width: 100%;
    text-align:center;
    color: #F9F9F9;
    h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: 0.16px;
    }
    p{
        .link{
            text-decoration: none;
            color:#B43FEB;
        }
    }
}