.col-lg-7{
    color: white;
    img{
        width: 100%;
        border-radius: 24px;
        object-fit: cover;
    }
    .details{
        margin-top: 10px;
        button{
            color: #D1D8DD;
            padding: 4px 8px;
            border-radius: 8px;
            margin-bottom: 10px;
            background-color: transparent;
            border: 1px solid #29282F;
        }
        p,span{
            line-height: 30px;
            color: white;
            max-height: 24px;
            margin: 0;
            
            .str{
                color: #FFCD1A;
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }
        }
        .spans{
            .spn{
                color: var(--grayscale-grayscale-70, #78828A);
                font-size: 12px;
                font-weight: 500;
                line-height: 20px; /* 166.667% */
                letter-spacing: 0.06px;
            }
            .spn2{
                color: var(--grayscale-grayscale-10, #F9F9F9);
                font-size: 16px;
                font-weight: 600;
                letter-spacing: 0.12px;
            }
        }
        p{
            overflow:hidden;
            text-overflow: ellipsis;
            text-align: left;
            word-wrap: nowrap;
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px; /* 150% */
            letter-spacing: 0.08px;
        }
    }
    .likes{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:20px;
        .dl, .sh{
            border-radius: 16px;
            color: var(--grayscale-grayscale-10, #F9F9F9);
            font-size: 18px;
            font-weight: 600;
            line-height: 26px; /* 144.444% */
            letter-spacing: 0.09px;
            border: none;
            border: 1px solid var(--additional-colors-line-dark, #29282F);
            background: var(--main-colors-background-dark, #0D0C0F);
            padding: 12px 24px;
        }
        .lk{
            font-size: 18px;
            font-weight: 600;
            color: var(--grayscale-grayscale-10, #F9F9F9);
            line-height: 26px; /* 144.444% */
            letter-spacing: 0.09px;
            border: none;
            border-radius: 16px;
            background: var(--alerts-error, #EB3F5E);
            padding: 12px 24px;
        }
    }
    .comment{
        margin-top: 20px;
        p{
            text-align: left;
        }
    }
}