#cpybtn{
    color: var(--grayscale-grayscale-10, #F9F9F9);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
    padding: 8px 24px;
    border-radius: 24px;
    background-color: #B43FEB;
    border:  none;
}