$defaultSize: 1rem;
$defaultColor: #000;
$defaultBgColor: #fff;
$defaultBorder: 1px solid #ccc;
$defaultBorderRadius: 4px;
$defaultTransition: all 0.3s ease-in-out;
$defaultShadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

$primaryColor: #007bff;
$secondaryColor: #6c757d;
$successColor: #28a745;
$infoColor: #17a2b8;
$warningColor: #ffc107;
$dangerColor: #dc3545;
$Poppins_font_family: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
