.all-products{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
    background: var(--neutral-07, #1A1D1F);
    .profile{
        display: flex;
        justify-content: space-between;
        .p-left{
            display: flex;
            gap: 16px;
            .image{
                border-radius: 128px;
                background: var(--secondary-01, #FFBC99);
                overflow: hidden;
                width: 80px;
                height: 80px;
            }
            h3{
                color: var(--neutral-01, #FCFCFC);
                font-size: 32px;
                font-weight: 600;
                line-height: 40px; /* 125% */
                letter-spacing: -0.96px;
            }
            span{
                color: var(--neutral-04, #6F767E);
                font-size: 20px;
                font-weight: 600;
                line-height: 32px; /* 160% */
                letter-spacing: -0.4px;
            }
        }
        .p-right{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
            .icon{
                color: #6F767E;
            }
            button{
                border-radius: 12px;
                background: var(--primary-01, #2A85FF);
                padding:12px 20px ;
                color: var(--neutral-01, #FCFCFC);
                border: none;
                height: max-content;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 160% */
                letter-spacing: -0.15px;
            }
        }
    }
    hr{
        border-radius: 2px;
        color: var(--neutral-06, #585d63);
        margin: 0;
    }
    .carding{
        margin: 0;  
    }
    
}