.col-xl-2{
    padding: 0;
    background-color: #29282F;
}
.home-left{
    height: 100%;
    padding: 32px 0px;
    ul{
        color: #78828A;
        list-style: none;
        font-size: 16px;
        font-weight: 600;
        line-height: 40px;
        padding-left: 24px;
        label{
            margin:10px 0 ;
        }
        li{
            #gatelink{
                font-size: 16px;
                font-weight: 600;
                line-height: 40px;
                text-decoration: none;
                color: #78828A;
            }
            #gatelink:hover{
                color: #47494b;
            }
            .icons{
                width: 24px;
                height: 24px;
                margin-right: 12px;
            }
        }
        .moon{
            position: relative;
            #darkmode{
                padding: 15px 25px;
                bottom: 9%;
                right: -3%;
                border-radius: 26px;
                border: none;
                position: absolute;
                #circle{
                    position: absolute;
                    left: 3%;
                    bottom: 8%;
                    border: none;
                    background-color: black;
                    padding: 13px;
                    border-radius: 20px;
                }
            }
        }
    }
}
@media(max-width:1200px) {
    .home-left{
        display: none;
    }
}