.catbtn{
    padding: 8px 13px;
    border-radius: 16px;
    border: none;
    color: #F9F9F9;
    background-color:#171725 ;
    background: var(--grayscale-grayscale-100, #171725);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.07px;
}